docker-compose.yml
__pycache__/
*.pyc
*.pyo
*.env
*.xml
*.idea
.DS_Store
Thumbs.db
.idea/
*.iml
venv/
.env/
*.log
*.out
*.err
*.swp
*.swo
*.swn
.coverage
.tox/
nosetests.xml
*.pytest_cache/
dist/
build/
*.egg-info/
.eggs/
pip-wheel-metadata/
